body{
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 20px;
}

main h1{
    font-size: 60px;
    background-color: rgb(120,30,60);
    color: #FAFFFA;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    margin: 0px;
    text-transform: uppercase;
}

h2{
    font-size: 40px;
    font-family: sans-serif;
    clear: both;
}

p{
    text-align: justify;
    margin: 20px;
}

blockquote{
    background-color: #D3DDDA;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0px;
    box-sizing: border-box;
    float: right;
}

strong{
    font-weight: 600;
}

aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    font-family: "Open Sans Condensed", sans-serif;
    float: right;
    clear: right;
    box-sizing: border-box;
}

img{
    float: right;
}

aside, img{
    width: 15%;
}

.icones-sociais li{
    display: inline-block;
}


.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: 40px;
}

.github{
    background-image: url("github.png");
}

.twitter{
    background-image: url("twitter.png");
}

.linkedin{
    background-image: url("linkedin.png");
}

nav h1{
    font-size: 30px;
    margin-bottom: 25px;
}

nav a{
    color: inherit;
}

footer{
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
}

.fiat{
    float: right;
}

.petrobras{
    float: left;
}

main{
    float: left;
    width: 85%;
}